<div>
  <!-- <audio controls>
    <source [src]="post.getAudio().src" type="audio/mpeg">
   O browser não suporta audio.
  </audio> -->

  <p>{{ post.getAudio().src }} - {{ post.getId() }}</p>
  <p>{{ post.getLikesCount() }} likes | {{ post.getDislikesCount() }} dislikes </p>

  <button (click)="post.getAudio().play()">Play</button>

  <div style="display: flex;">
    <button style="margin-right: 5px;" (click)="delete()">Delete Post</button>
    <button style="margin-right: 5px;" (click)="post.like()">Like</button>
    <button (click)="post.dislike()">Dislike</button>
  </div>
</div>
